<!DOCTYPE html>
<html>
    <head>
        <title>Product List</title>
    </head>
    <body>
        <div class="container">
        <h3><a href="/products/create">Create Product</a></h3>
        <h1>Product List</h1>

        <form action="/procesar-pago" method="POST">
                <script
                src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
                data-preference-id="$$id$$">
                </script>
            </form>
        </div>
    </body>
</html>
